@charset "UTF-8";
/**********************************************************************************************************************************
レイアウト定義用SASS
ページ単位のCSS定義を行う
PC-First
**********************************************************************************************************************************/
/*--------------------------------------------------------------------------------------------------------------
エンコーディング定義
--------------------------------------------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------------------------------------
システム共通定義インクルード
--------------------------------------------------------------------------------------------------------------*/
/* コンパスの基本機能を全部インポート */
/* リセット用CSSをインポート */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

html {
  line-height: 1; }

ol, ul {
  list-style: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

q, blockquote {
  quotes: none; }
  q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none; }

a img {
  border: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block; }

/* 汎用定数 */
/**********************************************************************************************************************************
汎用定数定義SASS
	汎用的に使用される定数を定義したSASS

	注意事項：
		ここで定義されるものは削除してはいけない。
		本SASSは最初にインポートされる必要がある。
		ここで定義されている定数をオーバーライドすることで挙動を変更できる。

**********************************************************************************************************************************/
/*--------------------------------------------------------------------------------------------------------------
エンコーディング定義
--------------------------------------------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------------------------------------
定数定義
--------------------------------------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------------------------------
メディア定義
----------------------------------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------------------------------
カラー定義
----------------------------------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------------------------------
フォント定義
----------------------------------------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------------------------------------
BASE定義
--------------------------------------------------------------------------------------------------------------*/
html {
  font-size: 62.5%;
  background-color: #f9f8f6; }

body {
  color: #000000;
  font-size: 1.6rem;
  font-family: "ヒラギノ角ゴ ProN W6", Hiragino Kaku Gothic Pro, sans-serif;
  line-height: 1.6;
  letter-spacing: 0.1em;
  background-color: #f9f8f6; }
  body #wrapper {
    max-width: 980px;
    margin: 0px auto; }

a {
  text-decoration: none;
  color: #000000; }

img {
  max-width: 100%;
  height: auto; }

@media screen and (max-width: 680px) {
  body #wrapper {
    max-width: 680px;
    margin: 0px auto; } }
/*--------------------------------------------------------------------------------------------------------------
関数定義
--------------------------------------------------------------------------------------------------------------*/
/*floatのクリア*/
/*センター配置*/
.pc {
  display: block !important;
  margin: 0 auto; }

.sp {
  display: none !important; }

@media screen and (max-width: 680px) {
  .pc {
    display: none !important; }

  .sp {
    display: block !important;
    margin: 0 auto; } }
p.btn {
  background-color: #887f69;
  padding: 0.5em 2em; }
  p.btn a {
    color: white;
    font-weight: bold;
    font-size: 1.4rem; }

.pankuzu {
  background-color: #e2ddd4;
  margin-bottom: 10px;
  padding: 0.2em 2em;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px; }
  .pankuzu ul li {
    float: left; }
    .pankuzu ul li a {
      font-size: 1.1rem;
      color: #887f69; }
    .pankuzu ul li:not(:nth-child(1)):before {
      content: "　/　";
      font-size: 1.1rem;
      color: #887f69; }
    .pankuzu ul li:nth-child(1) {
      list-style-image: url(../../images/list/home_icon.png); }
  .pankuzu ul:after {
    content: '';
    display: block;
    clear: both; }

table {
  border: 1px solid #e2ddd4;
  font-size: 1.2rem;
  font-weight: bold;
  color: #887f69;
  width: 100%; }
  table tr td {
    text-align: center;
    padding: 1em 0;
    border: 1px solid #e2ddd4; }
    table tr td.tdleft {
      text-align: left;
      padding-left: 1em; }
  table tr th {
    text-align: center;
    background-color: #edebe6;
    padding: 1em 0;
    border: 1px solid #e2ddd4; }
    table tr th.habahiro {
      width: 33%; }

/* ヘッダー部共通レイアウト */
/* header
------------------------------------------------------------*/
header {
  height: 40px;
  margin: 30px 0;
  background-color: #f9f8f6; }
  header .img {
    float: left; }
  header .menu_block {
    float: right;
    height: 100%; }
    header .menu_block ul {
      display: inline-block;
      vertical-align: -1.4em;
      color: #887f69;
      font-weight: bold; }
      header .menu_block ul li {
        display: inline-block; }
        header .menu_block ul li a {
          font-size: 1.3rem;
          font-family: 'arial black';
          color: #887f69;
          padding-right: 1em; }
  header .link {
    float: right; }
    header .link img {
      vertical-align: -1.4em;
      max-width: 20px; }
      header .link img.menuimg {
        display: none; }
  header:after {
    content: '';
    display: block;
    clear: both; }

@media screen and (max-width: 680px) {
  header {
    height: 80px; }
    header .wraphead {
      text-align: center; }
      header .wraphead .menu_block {
        display: none;
        float: none;
        height: auto; }
        header .wraphead .menu_block ul {
          vertical-align: 0;
          z-index: 100;
          width: 180px;
          position: absolute;
          top: 110px;
          right: 1%;
          border: 1px solid #eee;
          background: #ffffff; }
          header .wraphead .menu_block ul li {
            display: block;
            text-align: left;
            padding-left: 1em; }
            header .wraphead .menu_block ul li a {
              padding-right: 0; }
      header .wraphead .link {
        float: none; }
        header .wraphead .link img {
          vertical-align: 0;
          max-width: 40px; }
          header .wraphead .link img.menuimg {
            display: inline;
            height: auto; } }
/* フッター部共通レイアウト */
/* footer
------------------------------------------------------------*/
footer {
  margin: 10px auto; }
  footer .linktotop {
    text-align: right;
    padding-bottom: 0.6em;
    border-bottom: solid 1px #887f69; }
  footer .footerlist {
    text-align: center;
    margin-top: 1.0em; }
    footer .footerlist ul {
      width: 100%; }
      footer .footerlist ul li {
        display: inline-block;
        padding-right: 0.5em;
        font-size: 1.2rem; }
        footer .footerlist ul li:not(:nth-child(1)):before {
          font-size: 0.2em;
          content: "・　"; }
  footer .copyright {
    text-align: center;
    margin: 3em 0;
    font-size: 1.0rem;
    color: #887f69; }

@media screen and (max-width: 680px) {
  footer .linktotop {
    text-align: center; } }
/* サイドバー共通レイアウト */
/* sidebar
------------------------------------------------------------*/
#sidebar {
  width: 260px;
  float: right; }
  #sidebar .searchwin {
    background-color: #ffffff;
    width: 100%;
    padding-top: 0.5em;
    padding-bottom: 1.5em;
    margin-bottom: 0.5em; }
    #sidebar .searchwin .blockimg {
      width: 80%;
      margin: 0 auto; }
    #sidebar .searchwin form {
      width: 100%; }
      #sidebar .searchwin form dl {
        position: relative; }
        #sidebar .searchwin form dl dt input {
          display: block;
          width: 80%;
          background-color: #eeeeee;
          margin: 0 auto;
          font-size: 1.1rem;
          font-style: oblique;
          color: #cecece;
          padding: 0.5em 0;
          padding-left: 0.5em;
          border: none; }
        #sidebar .searchwin form dl dd input {
          position: absolute;
          right: 30px;
          bottom: 8px; }
  #sidebar .sidemenu {
    margin-bottom: 0.4em; }
    #sidebar .sidemenu ul li a {
      display: block;
      margin-bottom: 0.5em;
      padding: 1em;
      background-color: #887f69;
      font-size: 1.2rem;
      color: #ffffff; }
      #sidebar .sidemenu ul li a.menu1 {
        margin-bottom: 0; }
      #sidebar .sidemenu ul li a img {
        float: right;
        padding-top: 0.25em; }
    #sidebar .sidemenu ul li ul#innermenu {
      display: none; }
      #sidebar .sidemenu ul li ul#innermenu li a {
        color: #000000;
        background-color: #ffffff;
        display: block;
        margin-bottom: 0.5em;
        padding: 1em;
        margin-bottom: 1px; }
  #sidebar .about, #sidebar .info {
    background-color: #ffffff;
    font-size: 1.2rem;
    color: #ffffff;
    margin-bottom: 0.5em; }
    #sidebar .about .wrap1, #sidebar .info .wrap1 {
      display: block;
      margin-bottom: 0.5em;
      padding: 1em; }
      #sidebar .about .wrap1 img, #sidebar .info .wrap1 img {
        display: block;
        margin-left: auto;
        margin-right: auto; }
      #sidebar .about .wrap1 .explain, #sidebar .info .wrap1 .explain {
        margin: 1em 0;
        color: #000000; }
    #sidebar .about .wrap2, #sidebar .info .wrap2 {
      text-align: center; }
    #sidebar .about .menu, #sidebar .info .menu {
      display: block;
      margin-bottom: 0.5em;
      padding: 1em;
      background-color: #887f69; }
    #sidebar .about a img, #sidebar .info a img {
      margin-bottom: 1em; }

@media screen and (max-width: 680px) {
  #sidebar {
    width: 100%;
    float: none; }
    #sidebar .searchwin {
      margin-bottom: 1.5em; }
      #sidebar .searchwin form dl dd input {
        position: absolute;
        right: 50px;
        bottom: 8px; }
    #sidebar .about .wrap1, #sidebar .info .wrap1 {
      margin-bottom: 0;
      padding-bottom: 0; }
      #sidebar .about .wrap1 img.shopimg, #sidebar .info .wrap1 img.shopimg {
        padding-right: 0.8em;
        float: left; }
      #sidebar .about .wrap1 .explain, #sidebar .info .wrap1 .explain {
        margin: 0;
        margin-bottom: 0.5em; }
      #sidebar .about .wrap1:after, #sidebar .info .wrap1:after {
        content: '';
        display: block;
        clear: both; }
    #sidebar .about .wrap2, #sidebar .info .wrap2 {
      padding-left: 40%; }
    #sidebar .info .wrap1 {
      margin-bottom: 0;
      padding-bottom: 0; }
      #sidebar .info .wrap1 img.shopimg {
        padding-right: 0.8em;
        float: left; }
      #sidebar .info .wrap1 .explain {
        margin: 0;
        margin-bottom: 0.5em; }
      #sidebar .info .wrap1:after {
        content: '';
        display: block;
        clear: both; } }
/* ショッピングガイドレイアウト */
/* ショッピングガイド
------------------------------------------------------------*/
.sguide img {
  margin-bottom: 1.0em; }
.sguide .wrapperguidebox {
  height: 18em; }
  .sguide .wrapperguidebox .guidebox {
    height: 100%;
    float: left;
    border-right: #f9f8f6 solid 2px;
    background-color: #ffffff;
    width: 50%;
    text-align: left;
    padding: 1em; }
    .sguide .wrapperguidebox .guidebox h3 {
      color: #887f69;
      margin-bottom: 1em;
      font-weight: bold; }
    .sguide .wrapperguidebox .guidebox dl {
      padding: 0 1em; }
      .sguide .wrapperguidebox .guidebox dl dt {
        color: #887f69;
        font-size: 1.2rem;
        font-weight: bold; }
        .sguide .wrapperguidebox .guidebox dl dt:before {
          font-size: 1rem;
          content: "■　";
          position: relative;
          top: -0.1rem; }
      .sguide .wrapperguidebox .guidebox dl dd {
        font-size: 1.2rem;
        margin-bottom: 0.5em; }

@media screen and (max-width: 680px) {
  .sguide .wrapperguidebox {
    height: 100%; }
    .sguide .wrapperguidebox .guidebox {
      float: none;
      border-right: #f9f8f6 solid 0px;
      width: 100%;
      margin-bottom: 0.5em; } }
/* コンテンツ部骨組み */
/* contents
------------------------------------------------------------*/
.contents {
  margin: 10px auto; }
  .contents:after {
    content: '';
    display: block;
    clear: both; }
  .contents .container {
    float: left;
    width: 100%;
    margin-right: -300px;
    padding-right: 280px;
    /* main contents
    ------------------------------------------------------------*/ }
    .contents .container main {
      width: 100%;
      margin-right: 10px;
      text-align: center; }

@media screen and (max-width: 680px) {
  .contents {
    margin: 10px 10px; }
    .contents .container {
      margin-right: 0;
      padding-right: 0; } }
/* Google Font をインポート
@import url(//fonts.googleapis.com/css?family=Abel);*/
/*--------------------------------------------------------------------------------------------------------------
全適用定義
	プリンターを含む全てで適用される定義を記述。
--------------------------------------------------------------------------------------------------------------*/
*, *:before, *:after {
  box-sizing: border-box; }

/*----------------------------------------------------------------------------------------------------------
トップページ定義
----------------------------------------------------------------------------------------------------------*/
body #wrapper {
  /* header
  ------------------------------------------------------------*/
  /* contents
  ------------------------------------------------------------*/
  /* footer
  ------------------------------------------------------------*/ }
  body #wrapper .contents {
    /* sidebar
    ------------------------------------------------------------*/ }
    body #wrapper .contents .container {
      /* main contents
      ------------------------------------------------------------*/
      /* ショッピングガイド
      ------------------------------------------------------------*/ }
      body #wrapper .contents .container #adv-pic-list {
        max-width: 700px; }
      body #wrapper .contents .container main {
        background-color: #f9f8f6; }
        body #wrapper .contents .container main .main_newitems, body #wrapper .contents .container main .main_popitems {
          margin: 1.6em 0; }
          body #wrapper .contents .container main .main_newitems img, body #wrapper .contents .container main .main_popitems img {
            margin-bottom: 1.0em; }
          body #wrapper .contents .container main .main_newitems .itembox, body #wrapper .contents .container main .main_popitems .itembox {
            float: left;
            width: 33.3%;
            background-color: #ffffff;
            border-right: #f9f8f6 solid 1px;
            border-bottom: #f9f8f6 solid 1px;
            padding: 10px 5px; }
            body #wrapper .contents .container main .main_newitems .itembox p, body #wrapper .contents .container main .main_popitems .itembox p {
              font-size: 1.2rem;
              text-align: left;
              padding-bottom: 1em; }
          body #wrapper .contents .container main .main_newitems:after, body #wrapper .contents .container main .main_popitems:after {
            content: '';
            display: block;
            clear: both; }
        body #wrapper .contents .container main .itembottom {
          margin: 1em 0; }
          body #wrapper .contents .container main .itembottom .back {
            float: left; }
          body #wrapper .contents .container main .itembottom .next {
            float: right; }
          body #wrapper .contents .container main .itembottom:after {
            content: '';
            display: block;
            clear: both; }

/*----------------------------------------------------------------------------------------------------------
その他の定義
----------------------------------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------------------------------
Ratina専用定義
	画像や特殊文字を実装する場合にRatina用の設定を行う。
----------------------------------------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------------------------------------
スマートフォン専用定義
	注意事項：
		プリンター等のディスプレイ以外には適用されない。
--------------------------------------------------------------------------------------------------------------*/
@media screen and (max-width: 680px) {
  body #wrapper {
    /* header
    ------------------------------------------------------------*/
    /* contents
    ------------------------------------------------------------*/
    /* footer
    ------------------------------------------------------------*/ }
    body #wrapper .contents {
      /* sidebar
      ------------------------------------------------------------*/ }
      body #wrapper .contents .container {
        /* main contents
        ------------------------------------------------------------*/
        /* ショッピングガイド
        ------------------------------------------------------------*/ }
        body #wrapper .contents .container #adv-pic-list {
          margin: 10px auto; }
        body #wrapper .contents .container main .main_newitems .itembox, body #wrapper .contents .container main .main_popitems .itembox {
          width: 50%; }
        body #wrapper .contents .container main .main_popitems .itembox {
          width: 50%; }

  /*----------------------------------------------------------------------------------------------------------
  Ratina専用定義
  	画像や特殊文字を実装する場合にRatina用の設定を行う。
  ----------------------------------------------------------------------------------------------------------*/ }

/*# sourceMappingURL=list.css.map */
