/**********************************************************************************************************************************
汎用定数定義SASS
	汎用的に使用される定数を定義したSASS

	注意事項：
		ここで定義されるものは削除してはいけない。
		本SASSは最初にインポートされる必要がある。
		ここで定義されている定数をオーバーライドすることで挙動を変更できる。

**********************************************************************************************************************************/
/*--------------------------------------------------------------------------------------------------------------
エンコーディング定義
--------------------------------------------------------------------------------------------------------------*/
@charset "UTF-8";

/*--------------------------------------------------------------------------------------------------------------
定数定義
--------------------------------------------------------------------------------------------------------------*/
	/*----------------------------------------------------------------------------------------------------------
	メディア定義
	----------------------------------------------------------------------------------------------------------*/
	$media_smart_phone_width:						680px;					// スマートフォン横幅 最大定義
	$media_desctop_width:								980px;					// デスクトップ横幅 最大定義
	
	/*----------------------------------------------------------------------------------------------------------
	カラー定義
	----------------------------------------------------------------------------------------------------------*/
	$color_main:										#f9f8f6;					// 
	$color_accent:									#9d1a2d;					// 
	$color_sub: 										#887f69;					//
	$color_sub2: 										#e2ddd4;					//
	$color_text:                    #222222;          //
	$color_white:                   #ffffff;          //

	/*----------------------------------------------------------------------------------------------------------
	フォント定義
	----------------------------------------------------------------------------------------------------------*/	
	$baseFontFamily :"ヒラギノ角ゴ ProN W3", Hiragino Kaku Gothic Pro, sans-serif;

/*--------------------------------------------------------------------------------------------------------------
BASE定義
--------------------------------------------------------------------------------------------------------------*/

html{ 
  font-size: 62.5%; 
  background-color:$color_main;
}

body{
  color: $color_text;
  font-size: 1.6rem;
  font-family: $baseFontFamily;
  line-height: 1.6;
  letter-spacing: 0.1em;
  background-color: $color_main;
}

a {
  text-decoration: none;
  color:$color_text;
}	

//ウィンドウ幅に合わせて画像も可変
img{
	max-width:100%;
	height:auto;
}	

/*--------------------------------------------------------------------------------------------------------------
関数定義
--------------------------------------------------------------------------------------------------------------*/	
	
/*floatのクリア*/
@mixin clearfix{
		&:after {
	    content: '';
	    display: block;
	    clear: both;
		}
	}

/*センター配置*/
//※親要素の高さが決まっている時のみ
@mixin box_center()
{
	position: absolute;
	top: 50%;
	left: 50%;
	@include translate( -50%, -50% );
}

@mixin menulistbox{
	display:block;
	margin-bottom:0.5em;
	padding:1em;
}

@mixin block-center{
	display: block;
 	margin-left: auto;
 	margin-right: auto;
}