/**********************************************************************************************************************************
レイアウト定義用SASS
ページ単位のCSS定義を行う
PC-First
**********************************************************************************************************************************/
/*--------------------------------------------------------------------------------------------------------------
エンコーディング定義
--------------------------------------------------------------------------------------------------------------*/
@charset "UTF-8";

/*--------------------------------------------------------------------------------------------------------------
システム共通定義インクルード
--------------------------------------------------------------------------------------------------------------*/
/* コンパスの基本機能を全部インポート */
@import "compass";
/* リセット用CSSをインポート */
@import "compass/reset/";

/* 汎用定数 */
@import "common_variables";

/* Google Font をインポート
@import url(//fonts.googleapis.com/css?family=Abel);*/

/*--------------------------------------------------------------------------------------------------------------
全適用定義
	プリンターを含む全てで適用される定義を記述。
--------------------------------------------------------------------------------------------------------------*/
*, *:before, *:after {
    box-sizing: border-box;
}

/*----------------------------------------------------------------------------------------------------------
XXXXX定義
----------------------------------------------------------------------------------------------------------*/
body{
	#wrapper{
		max-width:$media_desctop_width;
		margin:0px auto;	//全体をcenter配置
		/* header
		------------------------------------------------------------*/
		// ヘッダー部
		header{
			height:40px;	//=logoの高さ
			margin:30px 0;
			background-color: $color-main;
			//左上ロゴ
			.img{
				float:left;
			}
			//Main Menu
			.menu_block{
				float: right;
				height: 100%;
				ul{
					display: inline-block;
					vertical-align: -1.4em;
					color:$color_sub;
					font-weight:bold;
					li{
						font-size:1.3rem;
						font-family:'arial black';
						display: inline-block;
						padding-right:1em;
					}
				}
			}
				//Menu Link
			.link{
				float:right;
				img{
					vertical-align: -1.4em;
				}
			}@include clearfix;
		}
		/* contents
		------------------------------------------------------------*/
		// コンテンツ部
		.contents{
			@include clearfix;
			margin:10px auto;	//上下margin相殺10px
			.container{
				float:left;
				width:100%;
				margin-right:-300px;
				padding-right:270px;	//サイドバーサイズ
				#adv-pic{
					margin:0px auto;	//上下margin相殺10px
					ul{
						li{
							float:left;
							padding-right:1em;
						}
						@include clearfix;
					}
					.owl-dots {
						float:left;
					}
				}
				/* main contents
				------------------------------------------------------------*/
				// メインコンテンツ
				main{
					width:100%;
					background-color:$color-main;
					margin-right:10px;
					text-align: center;
					
					.main_newitems{
						margin:1.6em 0;
						img{
							margin-bottom:1.0em;
						}
						.itembox{
							float:left;
							width:33.3%;
							background-color:#ffffff;
							border-right:$color_main solid 1px;
							border-bottom:$color_main solid 1px;
							padding:10px 5px;
							p{
								font-size:1.2rem;
								text-align:left;
								padding-bottom:1em;
							}
						}
						@include clearfix;
					}
					.main_popitems{
						@extend .main_newitems;
					}
				}
				.sguide{
					img{
						margin-bottom:1.0em;
					}
					.wrapperguidebox{
						height:18em;
						.guidebox{
							height:100%;
							float:left;
							border-right:$color_main solid 2px;
							background-color:#ffffff;
							width:50%;
							text-align:left;
							padding:1em;
							h3{
								color:$color_sub;
								margin-bottom:1em;
							}
							dl{
								padding:0 1em;
								dt{
									color:$color_sub;
									font-size:1.2rem;
									
									&:before{
									font-size:1rem;
									content:"■　";
									position: relative;
    								top: -0.1rem;
									}
								}
								dd{
									font-size:1.2rem;
									margin-bottom:0.5em;
								}
							}
						}
					}
				}
			}
			/* sidebar
			------------------------------------------------------------*/
			// サブメニュー
			#sidebar{
				width:260px;
				float:right;
				.searchwin{
					background-color:#ffffff;
					width:100%;
					padding-top:0.5em;
					padding-bottom:1.5em;
					margin-bottom:0.5em;
					.blockimg{
						width:80%;
						margin:0 auto;
					}
					form{
						width:100%;
						dl{ 
							
							position:relative;
							dt{
								input{
									display:block;
									width:80%;
									background-color: $color_main;
									margin:0 auto;
									font-size:1.1rem;
									padding:0.5em 0;
									padding-left:0.5em;
								}
							}
							dd{	
								input{
									position:absolute;
									right:30px;
									bottom:8px;
								}
							}
						}
					}
				}
				.sidemenu{
					margin-bottom:0.4em;
					ul{
						li{
							a{									
								@include menulistbox;
								background-color:$color_sub;
								font-size:1.2rem;
								color:#ffffff;
								&.menu1{
									margin-bottom:0;
								}
								img{
									float:right;
									padding-top:0.25em;
									//margin-left:auto;
								}
							}
							ul{ 
								&#innermenu{
									display:none;
									li{
										a{
											color:$color_text;
											background-color:#ffffff;
											@include menulistbox;
											margin-bottom:1px;
										}
									}
								}
							}
						}
					}
				}
				.about{
					background-color:#ffffff;
					font-size:1.2rem;
					color:#ffffff;
					.wrap1{
						@include menulistbox;
						img{
							@include block-center;
						}
						.explain{
							margin:1em 0;
							color:$color_text;
						}
					}
					.menu{
						@include menulistbox;
						background-color:$color_sub;
					}
					margin-bottom:0.5em;
					a{
						img{
							margin-bottom:1em;
						}
					}
				}
				.info{
					@extend .about
				}
			}
		}
		/* footer
		------------------------------------------------------------*/	
		// フッター部
		footer{
			margin:10px auto;
			.linktotop{
				text-align:right;
				padding-bottom:0.6em;
				border-bottom:solid 1px $color_sub;
			}
			.footerlist{
				text-align:center;
				margin-top:1.0em;	
				ul{
					width:100%;
					li{
						display: inline-block;
						padding-right:0.5em;
						font-size:1.2rem;
						&:not(:nth-child(1)){
							&:before{
								font-size:0.2em;
								content:"●　";
							}
						}
					}
				}
			}
			.copyright{
				text-align:center;
				margin:3em 0;
				font-size:1.0rem;
				color:$color_sub;
			}
		}
	}
}

/*----------------------------------------------------------------------------------------------------------
その他の定義
----------------------------------------------------------------------------------------------------------*/

/*----------------------------------------------------------------------------------------------------------
Ratina専用定義
	画像や特殊文字を実装する場合にRatina用の設定を行う。
----------------------------------------------------------------------------------------------------------*/
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx)
{
}

/*--------------------------------------------------------------------------------------------------------------
スマートフォン専用定義
	注意事項：
		プリンター等のディスプレイ以外には適用されない。
--------------------------------------------------------------------------------------------------------------*/
@media screen and (max-width: $media_smart_phone_width)
{
	/*----------------------------------------------------------------------------------------------------------
	ワイヤーフレーム関連定義
	----------------------------------------------------------------------------------------------------------*/

	/*----------------------------------------------------------------------------------------------------------
	その他の定義
	----------------------------------------------------------------------------------------------------------*/

	/*----------------------------------------------------------------------------------------------------------
	Ratina専用定義
		画像や特殊文字を実装する場合にRatina用の設定を行う。
	----------------------------------------------------------------------------------------------------------*/
	@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx)
	{
	}
}
