/**********************************************************************************************************************************
レイアウト定義用SASS
ページ単位のCSS定義を行う
PC-First
**********************************************************************************************************************************/
/*--------------------------------------------------------------------------------------------------------------
エンコーディング定義
--------------------------------------------------------------------------------------------------------------*/
@charset "UTF-8";

/*--------------------------------------------------------------------------------------------------------------
システム共通定義インクルード
--------------------------------------------------------------------------------------------------------------*/
/* コンパスの基本機能を全部インポート */
@import "compass";
/* リセット用CSSをインポート */
@import "compass/reset/";
/* 汎用定数 */
@import "common_variables";
/* ヘッダー部共通レイアウト */
@import "common_header";
/* フッター部共通レイアウト */
@import "common_footer";
/* サイドバー共通レイアウト */
@import "common_sidebar";
/* ショッピングガイドレイアウト */
@import "_common_sguide";
/* コンテンツ部骨組み */
@import "_l-contents";

/* Google Font をインポート
@import url(//fonts.googleapis.com/css?family=Abel);*/

/*--------------------------------------------------------------------------------------------------------------
全適用定義
	プリンターを含む全てで適用される定義を記述。
--------------------------------------------------------------------------------------------------------------*/
*, *:before, *:after {
    box-sizing: border-box;
}

/*----------------------------------------------------------------------------------------------------------
トップページ定義
----------------------------------------------------------------------------------------------------------*/
body{
	#wrapper{
		/* header
		------------------------------------------------------------*/
		// ヘッダー部
		header{
			//@import _common_header
		}
		/* contents
		------------------------------------------------------------*/
		// コンテンツ部
		.contents{
			.container{
				#adv-pic{
					margin:0px auto;	//上下margin相殺10px
					ul{
						li{
							float:left;
							padding-right:1em;
						}
						@include clearfix;
					}
					.owl-dots {
						float:left;
						margin-top:10px;
						span{
							width:30px;height:3px;
							border-radius:0px;
						}
						.active{
							span{
								background-color:#9d1a2d;
							}
						}
						
					}
					@include clearfix;
				}
				/* main contents
				------------------------------------------------------------*/
				// メインコンテンツ
				main{
					background-color:$color-main;
					.main_newitems{
						margin:1.6em 0;
						img{
							margin-bottom:1.0em;
						}
						.itembox{
							float:left;
							width:33.3%;
							background-color:#ffffff;
							border-right:$color_main solid 1px;
							border-bottom:$color_main solid 1px;
							padding:10px 5px;
							p{
								font-size:1.2rem;
								text-align:left;
								padding-bottom:1em;
							}
						}
						@include clearfix;
					}
					.main_popitems{
						@extend .main_newitems;
					}
				}
				/* ショッピングガイド
				------------------------------------------------------------*/
				// ショッピングガイド
				.sguide{
					//@import _common_sguide
				}
			}
			/* sidebar
			------------------------------------------------------------*/
			// サブメニュー
			#sidebar{
				//@import _common_sidebar
			}
		}
		/* footer
		------------------------------------------------------------*/	
		// フッター部
		footer{
			//@import _common_footer
		}
	}
}

/*----------------------------------------------------------------------------------------------------------
その他の定義
----------------------------------------------------------------------------------------------------------*/

/*----------------------------------------------------------------------------------------------------------
Ratina専用定義
	画像や特殊文字を実装する場合にRatina用の設定を行う。
----------------------------------------------------------------------------------------------------------*/
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx)
{
}

/*--------------------------------------------------------------------------------------------------------------
スマートフォン専用定義
	注意事項：
		プリンター等のディスプレイ以外には適用されない。
--------------------------------------------------------------------------------------------------------------*/
@media screen and (max-width: $media_smart_phone_width){
	body{
		#wrapper{
			/* header
			------------------------------------------------------------*/
			// ヘッダー部
			header{
				//@import _common_header
			}
			/* contents
			------------------------------------------------------------*/
			// コンテンツ部
			.contents{
				.container{
					#adv-pic{
					margin:10px auto;	//上下margin相殺10px
					}
					/* main contents
					------------------------------------------------------------*/
					// メインコンテンツ
					main{
						.main_newitems{
							.itembox{
								width:50%;
							}
						}
						.main_popitems{
							.itembox{
								width:50%;
							}
						}
					}
					/* ショッピングガイド
					------------------------------------------------------------*/
					// ショッピングガイド
					.sguide{
						//@import _common_sguide
					}
				}
				/* sidebar
				------------------------------------------------------------*/
				// サブメニュー
				#sidebar{
					//@import _common_sidebar
				}
			}
			/* footer
			------------------------------------------------------------*/	
			// フッター部
			footer{
				//@import _common_footer
			}
		}
	}

	/*----------------------------------------------------------------------------------------------------------
	Ratina専用定義
		画像や特殊文字を実装する場合にRatina用の設定を行う。
	----------------------------------------------------------------------------------------------------------*/
	@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx)
	{
	}
}
